:root {
    /* Color palette */
    --background-gray: #E4E4E4;
    --accent-orange: #FE8A01;
    --dark-gray: #38322F;
    --darker-gray: #111111;
    --dark-red: #8b0000;

    --button-border-radius: 10px;
    --medium: 500;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: var(--background-gray);
}

/* HEADER CSS */

header {
    grid-row: 1 / 2;
    background-color: var(--background-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 50px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 0.2);
}

header > p {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--dark-gray);
    margin: 0;
    padding: 0;
}

#show_form_button {
    height: min-content;
    width: min-content;
    font-size: 1.5rem;
    background-color: var(--accent-orange);
    color: var(--dark-gray);
    border-style: none;
    border-radius: var(--button-border-radius);
    padding: 15px 40px;
    align-self: center;
    justify-content: center;
}

/* HEADER CSS */

main {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#books {
    width: 75%;
    justify-content: center;
}

#book_form {
    width: 300px;
    justify-content: center;
    
}

#book_form > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#book_form > form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#finished_label {
    font-size: 1.2rem;
}

#book_finished {
    width: 25px;
    height: 25px;
}

#book_form input {
    padding: 15px;
    font-size: 1.2rem;
}

.books_grid_header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: solid 2px var(--darker-gray);
}

.book_information {
    text-align: center;
    align-self: center;
}

.grid_header {
    font-weight: var(--medium);
    text-align: center;
}

.book_list {
    grid-column: 1 / 5;
    display: inherit;
}

.book {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: solid 1px var(--darker-gray);
    padding: 5px 0 ;
}

.book_buttons {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
}

.book_button {
    align-self: center;
    height: min-content;
    padding: 10px 20px;
    border-style: none;
    border-radius: var(--button-border-radius);
    background-color: var(--accent-orange);
}

#add_book_button {
    background-color: var(--accent-orange);
    border-radius: var(--button-border-radius);
    border-style: none;
}

#finished_button, #delete_button {
    color: white;
}

#delete_button {
    background-color: var(--dark-red);
}
